<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
<!-- <div style="width: 50%;"> -->
  <form [formGroup]="form">
    <ajx-autocomplete formControlName="keyword"
                      [control]="form.controls['keyword']"
                      [staticDataSource]="employees"
                      suggestionPropName="name"
                      [placeholder]="'Enter Name'"
                      (selected)="onSelected($event)"></ajx-autocomplete>
  </form>
<!-- </div> -->

